<div class="background-white">
      <div id="abilities" class="container">
        <h2>Abilities</h2>
<p class="lead">
  &ldquo;Life without knowledge is death in disguise.&rdquo;<br />- Talib Kweli
</p>

<hr />

<h3>Skills</h3>

<div class="row">

    
  <div class="col-md-6">
    <ul class="no-bullets" ng-repeat="conkaku in skillLeft">
    
        
      <li>
        <span class="ability-title">{{conkaku.name}}</span>
        <span class="ability-score">
        
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
                  
        </span>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="no-bullets" ng-repeat="conkaku in skillRight">
      <li>
        <span class="ability-title">{{conkaku.name}}</span>
        <span class="ability-score">
        
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
                
          <i class="fa fa-star" aria-hidden="true"></i>
          
          
                  
        </span>
      </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    
  </div>
  
    
</div>
</div>
</div>