html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
body { background: #F3EFE0; font-size: 15px; line-height: 1.64; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #22A39F; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

p.lead { text-align: center; color: #727878; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 40px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20); }

#about-me-left{
  text-align: justify;
}
  
#ahihi{
  margin:20px;
}
#footer{
  margin: auto;
  width: 100%;
  height: 200px;
  background-color: #434242;
  border-radius: 5px;
}
body{
}
#main{
}
#img-main{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#my-contact{
  text-align: center;
  color: white;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 60px;
}
#my-slogan{
  text-align: center;
  color: #69766C;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 20px;
}
.background-gray { background: #434242; }
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
.mejpg{
  border-radius: 50px;
}
.chunhohonti{

  text-align: left;
  font-size: 30px;
  color: white;
}
.chunhohonti span{
  font-size:20px;
  color:#22A39F;
}
.chunhohonti span:hover{
  color:white;
}
#abilities ul > li { min-height: 30px; padding: 3px 0px; }
#abilities ul > li:hover { background: #F2F2F2; }
#abilities ul > li .ability-title { display: inline-block; width: 60%; }
#abilities ul > li .ability-score { float: right; }
#abilities ul > li .ability-score .glyphicon { 
  color: #DFE0E0; 
  font-size: 14px; 
   
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#abilities ul > li .ability-score .glyphicon.filled { color: #22A39F; }

#abilities ul > li:hover .ability-score .glyphicon { margin-left: 2px; } 
#experiences .experience { margin-bottom: 20px; }
#experiences .experience p > strong { display: block; padding-top: 8px; margin-bottom: 10px; }
#experiences .experience .experience-details { display: block; margin-top: 6px; }
#experiences .experience .experience-details * { color: #22A39F; }
#experiences .experience .experience-details .seperator { color: #BCBCBC; }
